<div class="list-group">
    <li class="list-group-item">
        <strong>Movies You Have Rated</strong>
    </li>
    {% for name, rating in movie_watched.items() %}
    <li class="list-group-item list-group-item-light">
        <span class="text-success">
            <strong>#</strong>
        </span>
        <a href="">
            <strong>{{ name }}</strong>
        </a>
        <span class="badge">{{ rating }}</span>
        <p>
            {% for genre in movie_genre_dict[name] %}
            <span class="label label-success">{{ genre }}</span>
            {% endfor %}
        </p>
    </li>
    {% endfor %}
</div>